:root{
    --cor-primaria: white;
    --cor-secundaria: black;
    --cor-hover: rgba(239, 198, 121, .4);
    --cor-detalhes: #efc679;
    --sombra-card: 0 0px 2px rgba(0, 0, 0, 0.4);
}


.btn-primario{
    width: 150px;
    color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    border-radius: 5px;
    padding: 6px 12px;
    transition: .3s ease;
}

.btn-primario:hover{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
}

.btn-secundario{
    width: 150px;
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-primaria);
    background-color: var(--cor-primaria);
    border-radius: 5px;
    padding: 6px 12px;
    transition: .3s ease;
}

.btn-secundario:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
}

.titulo-sessao{
    background: linear-gradient(90deg, #efc679, #10100f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 20px;
}

.sub-titulo-sessao{
    font-family: "neue-haas-grotesk-display-pro", sans-serif;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: .5px;
}

@media (max-width: 768px) {
    .paddingMobile{
        padding: 0 25px;
    }

    .sub-titulo-sessao{
        font-size: 29.6923px;
    }
}

.fadeUp{
    animation: fadeUp 1s ease-in;
}

@keyframes fadeUp {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}