#projetos{
            background: #F8F9FA;
        }

        .container-cards-projetos{
            display: flex;
            position: relative;
            scroll-snap-type: x mandatory;
            overflow-x: auto;
            gap: 20px;
        }

        
        @media (min-width: 992px) {
            .container-cards-projetos{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 50px;
            }
            .card-projetos{
                flex: none;
            }
        }

        @media (min-width: 768px) and (max-width: 991px) {
            .container-cards-projetos{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 50px;
            }
            .card-projetos{
                flex: none;
            }
        }


        .container-cards-projetos .card-projetos{
            padding: 30px;
            position: relative;
            scroll-snap-align: start;
            background-position: center;
            background-size: cover;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex:  0 0 300px;
            height: auto;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            overflow: hidden;
        }
        
        .container-cards-projetos .card-projetos::before{
            border-radius: 15px;
            content: "";
            position: absolute;
            inset: 0;
            z-index: 0;
            transition: .5s ease;
            isolation: isolate;
            background-image: inherit;
            background-position: center;
            background-size: cover;     
            filter: grayscale(100%);
        }
        
        .container-cards-projetos .card-projetos::after{
            content: "";
            position: absolute;
            inset: 0;
            z-index: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }
        
        .container-cards-projetos .card-projetos:hover{
            filter: none;
        }
        .container-cards-projetos .card-projetos:hover::before{
            background-color: rgba(0, 0, 0, 0.1);
            backdrop-filter: none;
            filter: grayscale(0%);
        }

        .container-cards-projetos .card-projetos .conteudo-card{
            z-index: 1;
            color: white;
            position: relative;
            text-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .header-card{
            display: flex;
            justify-content: space-between;
        }

        .header-card .btn-tipo-obra{
            background-color: rgba(255, 255, 255, 0.3);
            color: white;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background-color: rgba(239, 198, 121, .6);
            padding: 0 10px;
            border-radius: 15px;
            font-size: clamp(0.85rem, 1.2vw, 1rem);
        }

        .tituloDescCard{
            margin-top: 150px;
            flex-grow: 1;

        }

        .demaisDescs{
            margin-top: auto;

        }

        .tituloDescCard h1{
            font-size: clamp(1.1rem, 2.5vw, 1.5rem );
            line-height: 1.2;  /* Altura da linha */
            height: 3.6rem;    /* line-height (1.2) x 2 linhas = 3.6rem */
            display: -webkit-box;
            -webkit-line-clamp: 2; /* Limita o texto a no máximo 2 linhas */
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .conteudo-card p, 
        .demaisDescs p {
            font-size: clamp(0.85rem, 1.2vw, 1rem) !important;
        }

        .header-card{
            font-size: clamp(0.9, 1.3vw, 1.1rem);
        }

        .demaisDescs p{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .demaisDescs button{
            width: 100%;
            padding: 5px;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.4);
            color: white;
            border: 1px solid rgba(255, 255, 255, 0.3);
            transition: .3s ease;
        }

        .demaisDescs button:hover{
            background-color: rgba(0, 0, 0, 0.3);
        }

        .status{
            background:rgba(0, 0, 0, 0.7);
            padding: 5px 10px;
            border-radius: 30px;
            color: white;
        }

        .status{
            font-size: clamp(0.75rem, 1.2vw, 1rem);
        }