
    <header id="header" class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#"><img id="logo" src="../assets/imagens/logo/logoBranco.png" width="250" alt=""></a>

                <button id="btn-toggle" class="navbar-toggler" type="button" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menuNavbar">
                    <div class="divLogoFecharMenu">
                        <div id="fecharToggle">
                            <div id="btn-toggleMenu" class="">
                        <span class=""><i class="fa-solid fa-xmark"></i></span>
                        </div>
                    </div>
                    <a class="navbar-brand" href="#"><img id="logoToggle" src="assets/imagens/logo/logoPreto.png" width="150" alt=""></a>
                    </div>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link ativo" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#servicos">Serviços</a>
                    <a class="nav-link" href="#projetos">Projetos</a>
                    <a class="nav-link me-5" href="#quem-somos">Quem Somos</a>
                </div>
                <a href="cardmoderno.html">
                    <button class="btn btn-nav">Solicitar Orçamento</button>
                </a>
                </div>
            </div>
            </nav>
    </header>