#diferenciais{
            background-color: rgba(0, 0, 0, 1);
            color: white;
        }
        .diferenciais{
            display: flex;
            justify-content: end;
        }

        .sub-titulo-sessao{
        }

        .rayk{
            color: white;
        }

        .lista-diferenciais{
            margin-left: auto;
        }

        .item-diferenciais{
            display: flex;
            gap: 25px;
            align-items: baseline;
            padding: 20px 15px;
            border-bottom: 1px solid rgba(0,0,0,.15);
            border: 1px solid rgba(255,255,255,.25);
        }

        @media (max-width: 768px) {
            .item-diferenciais{
                display: grid;
            }
        }

        .item-diferenciais:hover{
            background: rgba(255,255,255,.15);
        }

        .item-diferenciais h3{
            margin: 0 0 8px;
            font-size: 1.2rem;
        }
        .item-diferenciais p{
            margin: 0;
            color: rgba(255,255,255,.65) !important
        }

        .numero{
            color: #efc679;
            font-size: 1.1rem;
            font-weight: 700;
        }