@import url(variaveis.css);

#Hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-shadow: var(--sombra);
}

#Hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagens/hero/hero.jpg');
    background-position: center;
    background-size: cover;
    z-index: 0;
    
    animation: kenBurns 20s ease-in-out infinite alternate;
    will-change: transform;
}

@keyframes kenBurns {
    0% {
        transform: scale(1.0) translate(0%, 0%);
    }
    100% {
        transform: scale(1.35) translate(-2%, -1.5%);
    }
}

#Hero::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#tittle-Hero{
    color: white;
    max-width: 600px;
    width: 100%;
}

#tittle-Hero h1{
    line-height:1.1;
}

#tittle-Hero p{
    max-width:550px;
    margin:25px 0;
}

.animacaoEntrada{
    animation: entrada linear both;
    
    animation-timeline: view();
    animation-range: 10% 20%;

}

@keyframes entrada {
    from{
        transform: scale(0.9);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.btn-hero{
    width: 200px;
    transition: .4s ease;
    height: 55px;
    font-weight: 600;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
}

.btn-hero:hover{
    background-color: var(--cor-hover);
    transform: translateY(-2px);
}


#Hero .container{
    position: relative;
    z-index: 2;

    animation: heroFade .9s ease ;
}

@keyframes heroFade {
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    #tittle-Hero{
        text-align: center;
    }
    #tittle-Hero h1{
        font-size:2.5rem;
    }
    .centralizar{
        display: flex ;
        justify-content: center ;
        text-align: center ;
    }
}