:root {
    --cor-principal: white;
    --cor-secundaria: black;
    --sombra: 0 0 8px rgba(0, 0, 0, 0.4);
    --cor-hover: rgba(239, 198, 121, .4);
}

p{
    color: rgba(0, 0, 0, 0.6) !important;
}

@media (max-width: 768px) {
    .paddingMobile {
        padding: 0 25px;
    }
}

.titulo-sessao{
    background: linear-gradient(90deg, #efc679, #10100f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 20px;
}

.sub-titulo-sessao{
    font-family: "neue-haas-grotesk-display-pro", sans-serif;
    /* font-size: 40px; */
    font-size: clamp(2rem, 2vw + 1rem, 4rem);
    line-height: 1.1;
    letter-spacing: .5px;
}

section{
    scroll-margin-top: 90px;
}